<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Merv to Strava Conversion</title>
</head>
<body>
<h1>
    Upload your Merv logs to Strava
</h1>
<h2>
    Instructions for use:
</h2>
<p>
    I strongly recommend that you do a "test" first and confirm that the output
    returned looks sane. In particular, check that the time in "minutes" and
    distance in "miles" look right; if something looks wrong, contact me before
    going forward since you will have to manually edit or delete any entries
    that are wrong. Note that "distance" is in meters and "elapsed_time" is in
    seconds.
</p>
<p>
    I also recommend that you do one month at a time, so that if something goes
    wrong you only need to delete a month's worth of entries. If you are feeling
    confident, you can select "all" and do all your entries in one go.
</p>
<p>
    The Strava API has a rate limit of 600 requests per 15 minutes; if you see
    an error about the rate limit having been exceeded, please wait 15 minutes
    and refresh/redo your current request. I am storing successfully uploaded
    entries for each user on local disk, so if you redo a request it will skip
    any previously converted entries.
</p>
<p>
    If you see something like "Authorization Error," that likely means your
    Strava access token has timed out; click the "refresh token" button and try
    again.
</p>
<form action="/merv" method="post">
    Merv username<br>
    <input type="text" name="username"><br>
    <input type="radio" name="type" value="test" checked>test<br>
    <input type="radio" name="type" value="month">month<br>
    <input type="text" name="month" value="yyyy-mm"><br>
    <input type="radio" name="type" value="all">all<br>
    <input type="submit" name="submit" value="submit">
    <input type="submit" name="refresh" value="refresh token">
</form>
</body>
</html>